<ul class="chat-list">
    {{#each chats}}
        <li class="chat-entity chat-list-item" tabindex="0" data-id="{{id}}">
            <div class="chat-entity__prepend">
                <div class="avatar avatar_size_m">
                    {{#if avatar}}<img class="avatar__image" src="{{avatar}}">{{/if}}
                </div>
            </div>
            <div class="chat-entity__body">
                <div class="chat-entity__horizontal-layout">
                    <div class="chat-entity__header">{{title}}</div>
                    {{#if date}}<div class="chat-entity__date">{{date}}</div>{{/if}}
                </div>
                {{#if text}}<div class="chat-entity__text">{{text}}</div>{{/if}}
            </div>
        </li>
    {{/each}}
</ul>