<div class="messenger-layout">
    <div class="messenger-sidebar">
        <div class="chat-list-header">
            {{h ownAvatar}}
            <button class="menu-button button button_view_plain">
                <svg class="menu-button__icon">
                    <use xlink:href="#icon-menu">
                </svg> 
            </button>
            <button class="create-chat-button button button_view_plain">
                <svg class="create-chat-button__icon">
                    <use xlink:href="#icon-pencil-square">
                </svg> 
            </button>
        </div>
        <div class="search">
            <input class="search__input" type="text" placeholder="Поиск">
        </div>
        {{h list}}
    </div>
    <div class="messenger-main">
        {{h header}}
        {{h chat}}
        <div class="compose">
            <button class="compose-button button button_view_plain">
                <svg class="compose-button__icon">
                    <use xlink:href="#icon-attach">
                </svg> 
            </button>
            <div class="message-editor">
                {{h compose}}
            </div>
            <button class="compose-button button button_view_plain">
                <svg class="compose-button__icon">
                    <use xlink:href="#icon-smile">
                </svg> 
            </button>
        </div>
    </div>
</div>