<form>
    <div class="form-field">
        {{h firstName}}
    </div>
    <div class="form-field">
        {{h secondName}}
    </div>
    <div class="form-field">
        {{h login}}
    </div>
    <div class="form-field">
        {{h email}}
    </div>
    <div class="form-field">
        {{h password}}
    </div>
    <div class="form-field">
        {{h passwordConfirm}}
    </div>
    <div class="form-field">
        {{h phone}}
    </div>
    <div class="form__button">
        {{h submit}}
    </div>
    <div class="form__button">
        {{h register}}
    </div>
</form>